.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.vscode

# firebase
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json
storage.rules
.firebase/hosting.ZGlzdA.cache

/src/firebase/config.js
